.snake-game {
  margin: 1rem;
  border: 1px solid black;
  width: fit-content;

  .snake-line {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;

    .snake-box {
      width: 20px;
      height: 20px;
    }
  }
}
